# ----------------------------------------
# Python Bytecode
# ----------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------------------
# Virtual Environments
# ----------------------------------------
env/
venv/
.venv/

# ----------------------------------------
# Distribution / Packaging
# ----------------------------------------
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST
pip-wheel-metadata/

# ----------------------------------------
# Installer logs
# ----------------------------------------
pip-log.txt
pip-delete-this-directory.txt

# ----------------------------------------
# Test / Coverage / Pytest
# ----------------------------------------
.coverage
.coverage.*
.cache
pytest_cache/
.tox/
.nox/
.hypothesis/
nosetests.xml
coverage.xml
*,cover
htmlcov/

# ----------------------------------------
# Jupyter Notebook
# ----------------------------------------
.ipynb_checkpoints

# ----------------------------------------
# Environments / Credentials
# ----------------------------------------
.env
.env.*
.venv/
.envrc

# ----------------------------------------
# IDE / Editor Settings
# ----------------------------------------
# VSCode
.vscode/
.vscode-test/
.history/

# PyCharm
.idea/
*.iml
*.iws

# ----------------------------------------
# OS-specific files
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# Django / Flask / Database
# ----------------------------------------
*.log
*.sqlite3
local_settings.py
instance/
.webassets-cache
app.log

# ----------------------------------------
# Logs
# ----------------------------------------
logs
../logs/app.log
